@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

.app {
  font-family: 'Nunito', sans-serif;
}

.twoPanels {
  display: flex;
}

.participantsPanel {
  border: 2px solid #000000;
  width: 15rem;
}

.usersPanel {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin: auto;
  width: 100%;
}
